# Configuración para GitHub Packages
# Reemplace @mmtechouse con su organización o nombre de usuario de GitHub si es diferente
@mmtechouse:registry=https://npm.pkg.github.com
@mmtechouse:registry=https://npm.pkg.github.com
@M-M-Tech-House:registry=https://npm.pkg.github.com
@m-m-tech-house:registry=https://npm.pkg.github.com

# Token de autenticación (debe estar en las variables de entorno de Vercel)
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
